/* Color Theme Swatches in Hex */
.downlandcard-1-hex {
  color: #d4b987;
}
.downlandcard-2-hex {
  color: #d62081;
}
.downlandcard-3-hex {
  color: #000000;
}
.downlandcard-4-hex {
  color: #822d8d;
}
.downlandcard-5-hex {
  color: #a292e8;
}
